@import '../../node_modules/normalize.css/normalize.css';
@import './vars.css';

@import './fonts/index.css';
@import './body.css';
@import './links.css';
@import './aria.css';

#app {
  width: 100vw;
  height: 100vh; /* fallback */
  height: 100dvh;
  margin: 0 auto;
  font-weight: normal;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 4.5rem) 4.5rem; /* fallback */
  grid-template-rows: calc(100dvh - 4.5rem) 4.5rem;
  grid-template-areas: 'view' 'navigation';
}

h1 {
  margin: var(--side-margin-h) var(--side-margin-v);
}

h2 {
  margin: calc(var(--side-margin-h) * 2) var(--side-margin-v) var(--side-margin-h);
}

h1, h2 {
  line-height: 1em;
}

select {
  padding: 0.35rem;
  border: 1px solid var(--c-dark-platinum);
  background: var(--color-background);
  width: 6rem;
  border-radius: 3px;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
}
