@import '../../node_modules/normalize.css/normalize.css';
@import './vars.css';

@import './fonts/index.css';
@import './body.css';
@import './links.css';
@import './aria.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;

  display: grid;
  grid-template-columns: 4rem calc(100% - 4rem);
  grid-template-rows: 1fr;
  grid-template-areas: 'navigation view';
}

h1 {
  margin: var(--side-margin-h) var(--side-margin-v);
}

h2 {
  margin: calc(var(--side-margin-h) * 2) var(--side-margin-v) var(--side-margin-h);
}

h1, h2 {
  line-height: 1em;
}

select {
  padding: 0.35rem;
  border: 1px solid var(--c-dark-platinum);
  background: var(--color-background);
  width: 6rem;
  border-radius: 3px;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
}
